<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Validation Prediction</title>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <h1>Predict Business Validation</h1>
    <form action="/predict" method="POST">
        <label for="city">City:</label>
        <input type="number" step="0.01" name="city" required><br>

        <label for="state">State:</label>
        <input type="number" step="0.01" name="state" required><br>

        <label for="stars">Stars:</label>
        <input type="number" step="0.01" name="stars" required><br>

        <label for="review_count_x">Review Count x:</label>
        <input type="number" step="0.01" name="review_count_x" required><br>

        <label for="avg_review_stars">Avg Review stars:</label>
        <input type="number" step="0.01" name="avg_review_stars" required><br>

        <label for="review_count_y">Review Count y:</label>
        <input type="number" step="0.01" name="review_count_y" required><br>

        <label for="total_useful_votes">Total useful votes:</label>
        <input type="number" step="0.01" name="total_useful_votes" required><br>

        <label for="elite_user_count">Elite user count:</label>
        <input type="number" step="0.01" name="elite_user_count" required><br>

        <label for="review_count_per_bussiness">Review count per business:</label>
        <input type="number" step="0.01" name="review_count_per_bussiness" required><br>

        <label for="avg_fans_per_reviewer">Avg fans per reviewer:</label>
        <input type="number" step="0.01" name="avg_fans_per_reviewer" required><br>

        <label for="checkin_count">Checkin count:</label>
        <input type="number" step="0.01" name="checkin_count" required><br>

        <label for="tip_count">Tip count:</label>
        <input type="number" step="0.01" name="tip_count" required><br>

        <label for="total_compliments">Total compliments:</label>
        <input type="number" step="0.01" name="total_compliments" required><br>

        <label for="RestaurantsDelivery">Restaurants delivery:</label>
        <input type="number" step="0.01" name="RestaurantsDelivery" required><br>

        <label for="OutdoorSeating">Outdoor seating:</label>
        <input type="number" step="0.01" name="OutdoorSeating" required><br>

        <label for="BusinessAcceptsCreditCards">Business Accepts Credit card:</label>
        <input type="number" step="0.01" name="BusinessAcceptsCreditCards" required><br>

        <label for="BikeParking">Bike Parking:</label>
        <input type="number" step="0.01" name="BikeParking" required><br>

        <label for="RestaurantsTakeOut">Restaurants takeout:</label>
        <input type="number" step="0.01" name="RestaurantsTakeOut" required><br>

        <label for="WiFi">Wifi:</label>
        <input type="number" step="0.01" name="WiFi" required><br>

        <label for="Caters">Caters:</label>
        <input type="number" step="0.01" name="Caters" required><br>

        <label for="WheelchairAccessible">Wheelchair Accessible:</label>
        <input type="number" step="0.01" name="WheelchairAccessible" required><br>

        <label for="BusinessParking">Business Parking:</label>
        <input type="number" step="0.01" name="BusinessParking" required><br>

        <label for="RestaurantsPriceRange2">Restaurants price range 2:</label>
        <input type="number" step="0.01" name="RestaurantsPriceRange2" required><br>

        <label for="weekly_hours">Weekly hours:</label>
        <input type="number" step="0.01" name="weekly_hours" required><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
