<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Business Validation Prediction</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
        body {
            background-color: #f8f9fa;
            padding: 2rem;
        }

        h1 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        label {
            font-weight: bold;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        button {
            width: 100%;
            font-size: 1.2rem;
            padding: 0.75rem;
        }
        .form-scroll {
            max-height: 400px; /* Adjust this height as needed */
            overflow-y: auto;
        }
		</style>
		<script>
        function showFields() {
            let fields = document.querySelectorAll('.field-group');
            fields.forEach(field => field.style.display = 'block');

            let model = document.getElementById('modelSelect').value;

            if (model === 'model1') {
                document.querySelectorAll('.model2').forEach(field => field.style.display = 'none');
            } 
            // else if (model === 'model2') {
            //     document.querySelectorAll('.model2').forEach(field => field.style.display = 'block');
            // } else if (model === 'model3') {
            //     document.querySelectorAll('.model3').forEach(field => field.style.display = 'block');
            // }
        }
    
		
		
		</script>
	</head>
	<body>
		<h1>Predict Business Validation</h1>
		<form action="/predict" method="POST">
			<div class="form-group">
				<label for="modelSelect">Select Model:</label>
				<select id="modelSelect" name="model" onchange="showFields()" required="">
					<option value="">--Select a Model--</option>
					<option value="model1">Decision Tree</option>
					<option value="model2">Random Forest</option>
					<option value="model3">AdaBoost</option>
				</select>
				<br>
				<br>
			</div>
			<div class="form-scroll">

				<!-- Fields for Model 1 -->
				<div class="field-group model1 form-group" style="display: block;">
					<label for="city">City:</label>
					<input type="text" name="city" class="form-control">
				</div>

				<div class="field-group model1 form-group" style="display: block;">
					<label for="state">State/Province:</label>
					<input type="text" name="state" class="form-control">
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="avg_review_stars">Avg Review stars:</label>
					<input type="number" step="0.5" name="avg_review_stars" class="form-control" required>
				</div>
				<div class="field-group model1 form-group" style="display: block;"></div>
					<label for="isOpen">Is Open:</label><br>
					<div>
						<input type="radio" id="openYes" name="isOpen" value="1" required>
						<label for="openYes">Yes</label>
						<input type="radio" id="openNo" name="isOpen" value="0">
						<label for="openNo">No</label>
					</div>
				</div>
				<br/>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="RestaurantsDelivery">Restaurants Delivery:</label><br>
					<div>
						<input type="radio" id="deliveryYes" name="RestaurantsDelivery" value="1" required>
						<label for="deliveryYes">Yes</label>
						<input type="radio" id="deliveryNo" name="RestaurantsDelivery" value="0">
						<label for="deliveryNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="RestaurantsPriceRange2">Restaurants Price Range 2:</label>
					<select name="RestaurantsPriceRange2" class="form-control" required>
						<option value="">--Select a Range--</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="None">None</option>
					</select>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="WheelchairAccessible">Wheelchair Accessible:</label><br>
					<div>
						<input type="radio" id="wheelchairYes" name="WheelchairAccessible" value="1" required>
						<label for="wheelchairYes">Yes</label>
						<input type="radio" id="wheelchairNo" name="WheelchairAccessible" value="0">
						<label for="wheelchairNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="WiFi">WiFi:</label>
					<div>
						<input type="radio" id="wifiYes" name="WiFi" value="1" required>
						<label for="wifiYes">Yes</label>
						<input type="radio" id="wifiNo" name="WiFi" value="0">
						<label for="wifiNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="BikeParking">Bike Parking:</label><br>
					<div>
						<input type="radio" id="bikeYes" name="BikeParking" value="1" required>
						<label for="bikeYes">Yes</label>
						<input type="radio" id="bikeNo" name="BikeParking" value="0">
						<label for="bikeNo">No</label>
					</div>
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="stars">Stars:</label>
					<input type="number" step="0.01" name="stars" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="review_count_x">Review Count x:</label>
					<input type="number" step="0.01" name="review_count_x" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="review_count_y">Review Count y:</label>
					<input type="number" step="0.01" name="review_count_y" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="total_useful_votes">Total useful votes:</label>
					<input type="number" step="0.01" name="total_useful_votes" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="elite_user_count">Elite user count:</label>
					<input type="number" step="0.01" name="elite_user_count" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="review_count_per_bussiness">Review count per business:</label>
					<input type="number" step="0.01" name="review_count_per_bussiness" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="avg_fans_per_reviewer">Avg fans per reviewer:</label>
					<input type="number" step="0.01" name="avg_fans_per_reviewer" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="checkin_count">Checkin count:</label>
					<input type="number" step="0.01" name="checkin_count" class="form-control">
				</div>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="tip_count">Tip count:</label>
					<input type="number" step="0.01" name="tip_count" class="form-control">
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="total_compliments">Total Compliments:</label><br>
					<div>
						<input type="radio" id="complimentsYes" name="total_compliments" value="1" required>
						<label for="complimentsYes">Yes</label>
						<input type="radio" id="complimentsNo" name="total_compliments" value="0">
						<label for="complimentsNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="OutdoorSeating">Outdoor Seating:</label><br>
					<div>
						<input type="radio" id="outdoorYes" name="OutdoorSeating" value="1" required>
						<label for="outdoorYes">Yes</label>
						<input type="radio" id="outdoorNo" name="OutdoorSeating" value="0">
						<label for="outdoorNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="BusinessAcceptsCreditCards">Business Accepts Credit Cards:</label><br>
					<div>
						<input type="radio" id="creditYes" name="BusinessAcceptsCreditCards" value="1" required>
						<label for="creditYes">Yes</label>
						<input type="radio" id="creditNo" name="BusinessAcceptsCreditCards" value="0">
						<label for="creditNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;">
					<label for="RestaurantsTakeOut">Restaurants Takeout:</label><br>
					<div>
						<input type="radio" id="takeoutYes" name="RestaurantsTakeOut" value="1" required>
						<label for="takeoutYes">Yes</label>
						<input type="radio" id="takeoutNo" name="RestaurantsTakeOut" value="0">
						<label for="takeoutNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;"></div>
					<label for="Caters">Caters:</label><br>
					<div>
						<input type="radio" id="catersYes" name="Caters" value="1" required>
						<label for="catersYes">Yes</label>
						<input type="radio" id="catersNo" name="Caters" value="0">
						<label for="catersNo">No</label>
					</div>
				</div>
				<div class="field-group model1 form-group" style="display: block;"></div>
					<label for="BusinessParking">Business Parking:</label><br>
					<div>
						<input type="radio" id="parkingYes" name="BusinessParking" value="1" required>
						<label for="parkingYes">Yes</label>
						<input type="radio" id="parkingNo" name="BusinessParking" value="0">
						<label for="parkingNo">No</label>
					</div>
				</div>
				<br/>
				<div class="field-group model2 form-group" style="display: block;">
					<label for="weekly_hours">Weekly hours:</label>
					<input type="number" step="0.01" name="weekly_hours" class="form-control">
				</div>
			</div>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>